@model Tesco.OnlineRetail.Models.GiftProductCategory

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>GiftProductCategory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GiftCategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiftCategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.GiftProductCategoryId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
