@model PagedList.IPagedList<Tesco.OnlineRetail.Models.GiftProductCategory>
@using PagedList.Mvc;



<div class="container">
    <div class="row">
        <div class="col-md-3">
            <br>
            <p class="lead">Welcome Admin</p>
            <br>
            <div class="list-group">

                <dl>
                    <dt>Manage Categories</dt>
                    <br>
                    <dd> <a href="~/Category/Index" class="list-group-item">View Categories</a></dd>
                    <dd> <a href="~/Category/Create" class="list-group-item">Add Categories</a></dd>

                </dl>
                <dl>
                    <br>
                    <dt>Manage Product</dt>
                    <br>
                    <dd><a href="~/Product/Index" class="list-group-item">View Products</a></dd>
                    <dd> <a href="~/Product/Create" class="list-group-item">Add Product</a></dd>
                </dl>

                <dl>
                    <br>
                    <dt>Manage Inventory</dt>

                    <dd><a href="~/Inventory/Index" class="list-group-item">View Inventory</a></dd>
                    <dd> <a href="~/Inventory/Create" class="list-group-item">Add product Quantity</a></dd>
                </dl>
                <dl>
                    <br>
                    <dt>Manage Gift Products</dt>

                    <dd><a href="~/GiftProduct/Index" class="list-group-item">View Products</a></dd>
                    <dd> <a href="~/GiftProduct/Create" class="list-group-item">Add Product</a></dd>

                </dl>
                <dl>
                    <br>
                    <dt>Manage Gift Categories</dt>
                    <dd><a href="~/GiftProductCategory/Index" class="list-group-item">View Category</a></dd>
                    <dd> <a href="~/GiftProductCategory/Create" class="list-group-item">Add Category</a></dd>
                </dl>
                <dl>
                    <br>
                    <dt>Manage Points</dt>
                    <dd><a href="~/PointAssign/PointsList" class="list-group-item">Assign Points</a></dd>

                </dl>

            </div>
        </div>
        <div class="col-md-9">


            @{
                ViewBag.Title = "Index";
            }

            <h2>List of Gift Category Product</h2>

            <p>
                @Html.ActionLink("Add Category", "Create")
            </p>
            <table class="table">
                <tr>
                    <th>
                        Gift Category Name
                    </th>
                    <th>
                        Active status
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.GiftCategoryName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsActive)
                        </td>
                        <td>
                            @Html.ActionLink("Details", "Details", new { id = item.GiftProductCategoryId }) |
                            @Html.ActionLink("Cancel", "Delete", new { id = item.GiftProductCategoryId })
                        </td>
                    </tr>
                }

            </table>

            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
        </div>
    </div>
</div>