@model IEnumerable<Tesco.OnlineRetail.Models.GiftProduct>

@{
    ViewBag.Title = "SearchProduct";
}

<h2>SearchProduct</h2>

<p>
    @Html.ActionLink(" ", " ")
</p>
<table class="table">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.giftproductcategory.GiftCategoryName)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RedeemPoints)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        @*<td>
            @Html.DisplayFor(modelItem => item.giftproductcategory.GiftCategoryName)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RedeemPoints)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.GiftProductId }) |*@
            @*@Html.ActionLink("Details", "Details", new { id=item.GiftProductId })*@ |
            @*@Html.ActionLink("Delete", "Delete", new { id=item.GiftProductId })*@
        </td>
    </tr>
}

</table>
